.content-box{
	width: 100%;
	margin: 10px 0;
	& .itens, #articles{
		display: flex;
		flex-wrap: wrap;
		a{
			display: inline-block;
			padding: 10px;
			margin: 5px;
			background-color: $color-light-gray;
			max-width: 120px;
			width: auto;
			height: auto;
			color: $color-text;
			border: 2px solid transparent;
			word-wrap: break-word;
			text-align: center;
			vertical-align: middle;
			&:hover{
				border-color: $color-mid-gray;
			}
		}
	}
}