.h1{
	font-size: 36px;
	@include bpMin(900px){
		font-size: 48px;
	}
}
.h2{
	font-size: 24px;
	@include bpMin(900px){
		font-size: 36px;
	}
}
.h3{
	font-size: 21px;
	@include bpMin(900px){
		font-size: 24px;
	}
}
.h4{
	font-size: 18px;
	@include bpMin(900px){
		font-size: 21px;
	}
}
.h5{
	font-size: 16px;
	@include bpMin(900px){
		font-size: 18px;
	}
}
.h6{
	font-size: 14px;
	@include bpMin(900px){
		font-size: 16px;
	}
}
