.navbar{
	background-color: $color-light-gray;
	width: 100%;
	heigth: auto;
	padding: 10px;
	h1{
		display: inline;
	}
	& .menu{
		font-size:1.5em;
		font-weight:bold;
		cursor:pointer;
	}
	& a{
		text-decoration: none;
		color: $color-text;
	}
}