.tags{
	margin: 10px 0;
	word-wrap: break-word;
	
	& .tag{
		background-color: $color-light-gray;
		padding: 8px;
		border-radius: 3px;
		display: inline-block;
		margin: 5px;
		a{
			padding: 8px;
		}
	}
}