$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

/* Color */
$color-gray: #404040;
$color-dark-gray: #303030;
$color-mid-gray: #606060;
$color-light-gray: #DDDDDD;

$color-text: $color-dark-gray;

$font-size-1: 1.1em;
$font-size-2: 1.2em;
$font-size-3: 1.3em;