/* Color */
* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #303030; }

a {
  text-decoration: none;
  color: #0068B2; }
  a:hover {
    color: #002F51FF; }
  a:visited {
    color: #004A7F; }

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.h1 {
  font-size: 36px; }
  @media (min-width: 900px) {
    .h1 {
      font-size: 48px; } }

.h2 {
  font-size: 24px; }
  @media (min-width: 900px) {
    .h2 {
      font-size: 36px; } }

.h3 {
  font-size: 21px; }
  @media (min-width: 900px) {
    .h3 {
      font-size: 24px; } }

.h4 {
  font-size: 18px; }
  @media (min-width: 900px) {
    .h4 {
      font-size: 21px; } }

.h5 {
  font-size: 16px; }
  @media (min-width: 900px) {
    .h5 {
      font-size: 18px; } }

.h6 {
  font-size: 14px; }
  @media (min-width: 900px) {
    .h6 {
      font-size: 16px; } }

.navbar {
  background-color: #DDDDDD;
  width: 100%;
  heigth: auto;
  padding: 10px; }
  .navbar h1 {
    display: inline; }
  .navbar .menu {
    font-weight: bold;
    cursor: pointer; }
  .navbar a {
    text-decoration: none;
    color: #303030; }

.menu-icon {
  vertical-align: middle;
  display: inline-block;
  margin: auto 10px auto 5px;
  cursor: pointer; }
  .menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: #404040;
    border-radius: 3px; }

.menu {
  margin: 5px 0 10px 0; }
  .menu .btn-menu {
    margin: 5px 3px;
    display: inline-block;
    padding: 5px;
    color: #fff;
    background-color: #404040;
    border: 2px solid transparent;
    transition: all .15s linear; }
    .menu .btn-menu.active {
      background-color: transparent;
      border-color: #404040;
      color: #404040; }
    .menu .btn-menu:hover {
      background-color: transparent;
      border-color: #404040;
      color: #404040; }

.history {
  margin: 15px;
  line-height: 25px; }
  .history a:hover {
    text-decoration: underline; }

.content {
  width: 100%;
  margin: 10px auto;
  paddin: 0 10px; }

.content-header {
  margin: 40px 0 0 0; }

.content-body {
  font-family: 'Merriweather', 'Times New Roman', 'Lucida Bright';
  color: #606060;
  margin: 20px auto;
  padding: 0 10px;
  text-align: justify;
  text-justify: inter-word;
  max-width: 1000px;
  letter-spacing: 1px;
  line-height: 1.3; }
  .content-body p {
    font-size: 1.2em;
    margin: 0 0 15px 0; }
    .content-body p a, .content-body p blockquote a {
      text-decoration: underline; }
  .content-body blockquote {
    font-size: 1.2em;
    font-style: italic;
    border-left: 5px solid #DDDDDD;
    padding: 10px;
    margin: 20px auto; }

.content-info {
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto; }

.posts-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0 0; }
  .posts-wrap a {
    display: table-cell;
    padding: 10px;
    margin: 5px;
    font-size: 1.1em;
    background-color: #DDDDDD;
    max-width: 120px;
    width: auto;
    height: auto;
    color: #303030;
    border: 2px solid transparent;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle; }
    .posts-wrap a:hover {
      border-color: #606060; }

.tags {
  margin: 10px 0; }
  .tags .tag {
    background-color: #DDDDDD;
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    margin: 5px; }
    .tags .tag a {
      padding: 8px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.jc-center {
  justify-content: center; }

.jc-between {
  justify-content: space-between; }

.underline {
  text-decoration: underline; }

.hide {
  display: none; }

.show {
  display: block; }

.fs-1 {
  font-size: 1.1em; }

.fs-2 {
  font-size: 1.2em; }

.fs-3 {
  font-size: 1.3em; }

.fs-4 {
  font-size: 1.4em; }

.fs-5 {
  font-size: 1.5em; }

.mtop-5 {
  margin-top: 5px; }

.mtop-10 {
  margin-top: 10px; }

.mtop-15 {
  margin-top: 15px; }

.mtop-20 {
  margin-top: 20px; }

.mtop-25 {
  margin-top: 25px; }

.mtop-30 {
  margin-top: 30px; }

.mtop-35 {
  margin-top: 35px; }

.mtop-40 {
  margin-top: 40px; }

.mtop-45 {
  margin-top: 45px; }

.mtop-50 {
  margin-top: 50px; }

/*# sourceMappingURL=liberduc.css.map */
